html,
body {
  margin: 0;
}
.parallax,
.parallax__layer {
  height: 1000px;
}
.parallax__layer {
  position: fixed;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  z-index: 10;
}
#parallax-0 {
  background-image: url(../images/layer0.png);
  background-color: #ffaf1b;
}
#parallax-1 {
  background-image: url(../images/layer1.png);
}
/*#parallax-2 {
  background-image: url(../images/layer2.png);
}*/
#parallax-3 {
  background-image: url(../images/layer3.png);
}
#parallax-4 {
  background-image: url(../images/layer4.png);
}
#parallax-5 {
  background-image: url(../images/layer5.png);
}
#parallax-6 {
  background-image: url(../images/layer6.png);
}
#parallax-7 {
  background-image: url(../images/layer7.png);
}
#parallax-8 {
  background-image: url(../images/layer8.png);
}
.maincontent {
  position: relative;
  width: 100%;
  min-height: 300vh;
  z-index: 99;
  background-color: #210002;
}
